body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: linear-gradient(135deg, black, rgb(69, 66, 66));
    height: 100vh;
    overflow-y: hidden;
}

.card_container {
    position: relative;
    width: 320px;
    background-color: white;
    padding: 40px;
    overflow: hidden;
}

.card_container::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    background-color: skyblue;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 1s;

}

.card_container:hover:before {
    bottom: 0;

}

.content {
    position: relative;
    color: #222;
    z-index: 2;
    transition: 1s;


}

h2 {
    font-size: 30px;

}

p {
    line-height: 25px;
    padding: 20px 0;
    margin: 20px 0;
}

a {
    font-size: 12px;
    color: white;
    padding: 2px;
    padding: 14px;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
}

.card_container:hover .content {
    color: white;
    cursor: pointer;
}