body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, black, rgb(79, 78, 78));
    font-family: sans-serif;
}

.card {
    position: relative;
    width: 30rem;
    height: 30rem;
    overflow: visible;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    transition: 0.8s;
    z-index: 0;
}

.card:hover::before {
    transform: rotate(15deg);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card:hover::after {
    transform: rotate(8deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.imgbox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #222;
    transition: 0.6s;
    z-index: 2;
    overflow: hidden;
}

.card:hover .imgbox {
    bottom: 90px;
}

.imgbox img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 70px;
    background: white;
    z-index: 1;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
}

.details h2 {
    margin: 0;
    font-size: 20px;
}

.details span {
    font-size: 14px;
    color: gray;
}
